body {
  margin: 0;
  background: #0b1220;
  color: white;
  font-family: Arial;
}

.container {
  width: 100%;
  background: red;
}
.card {
  display: flex;
  align-items: center;
  background: #1a2235;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 20px;
}

.thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  margin-right: 20px;
  object-fit: cover;
}

.rank {
  color: #4da3ff;
  font-weight: bold;
}

.title {
  font-size: 20px;
}

.meta {
  color: #9aa4c7;
}

.points {
  margin-left: auto;
  color: #4da3ff;
}
